<section id="footer">
  <div class="container">
    <div class="row">
      <div class="footer_1 clearfix">
        <div class="col-sm-3">
          <div class="footer_1_i clearfix">
            <h4 class="col bold mgt">About Trophy</h4>
            <p>
              Trophy brings you the latest in football news, live scores, player
              transfers and match analysis. Dive into the world of football with
              us!
            </p>
            <h5 class="col">
              <i class="fa fa-headphones"></i> Call Us: 1-234-567-8910
            </h5>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footer_1_i clearfix">
            <h4 class="col bold mgt">Latest Posts</h4>
            <div class="footer_1_ii clearfix">
              <h5 class="col mgt">
                <a href="#">Basics First: Understanding Football</a>
                <span>Oct 21, 2023</span>
              </h5>
            </div>
            <div class="footer_1_ii clearfix">
              <h5 class="col mgt">
                <a href="#">Becoming Great: Stories of Football Legends</a>
                <span>Oct 25, 2023</span>
              </h5>
            </div>
            <div class="footer_1_ii clearfix">
              <h5 class="col mgt">
                <a href="#"
                  >Better Results: Training Tips for Aspiring Athletes</a
                >
                <span>Oct 29, 2023</span>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footer_1_i1 clearfix">
            <h4 class="col bold mgt">Quick Links</h4>
            <h5>
              <a href="#"><i class="fa fa-chevron-right"></i> About Us</a>
            </h5>
            <h5>
              <a href="#"><i class="fa fa-chevron-right"></i> Club History</a>
            </h5>
            <h5>
              <a href="#"><i class="fa fa-chevron-right"></i> Contact Us</a>
            </h5>
            <h5>
              <a href="#"><i class="fa fa-chevron-right"></i> FAQ</a>
            </h5>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="footer_1_i2 clearfix">
            <h4 class="col bold mgt">Follow Us</h4>
            <p>
              Stay connected and follow us on social media to get instant
              updates and exclusive content!
            </p>
            <ul class="social-network social-circle">
              <li>
                <a href="#" class="icoRss" title="Rss"
                  ><i class="fa fa-rss"></i
                ></a>
              </li>
              <li>
                <a href="#" class="icoFacebook" title="Facebook"
                  ><i class="fa fa-facebook"></i
                ></a>
              </li>
              <li>
                <a href="#" class="icoTwitter" title="Twitter"
                  ><i class="fa fa-twitter"></i
                ></a>
              </li>
              <li>
                <a href="#" class="icoGoogle" title="Google +"
                  ><i class="fa fa-google-plus"></i
                ></a>
              </li>
              <li>
                <a href="#" class="icoLinkedin" title="Linkedin"
                  ><i class="fa fa-linkedin"></i
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer_2 text-center clearfix">
        <div class="col-sm-12">
          <p class="mgt col">
            © 2024 MetaMatch. All Rights Reserved | Design by
            <a class="col_1" href="http://www.DevHive.com">DevHive</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
