<section id="center" class="clearfix center_about">
  <div class="center_about_m clearfix">
    <div class="container">
      <div class="row">
        <div class="gallery_h text-center mgt1 clearfix">
          <div class="col-sm-12">
            <h1 class="mgt col">About Us</h1>
            <hr />
            <p class="col">
              Lorem ipsum dolor sit amet, cu his aliquam honestatis, mel ut
              putant verear consectetuer. Eu sed<br />
              diam ignota, dictas repudiare vix ne.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about_page">
  <div class="container">
    <div class="row">
      <div class="about_page_1 clearfix">
        <div class="col-sm-12">
          <h2 class="mgt">We Make History</h2>
          <p class="bold">
            Lorem ipsum dolor sit amet, cum cu nobis viderer dolorum, ius nullam
            iisque adversarium modus oratio.
          </p>
          <p>
            Lorem ipsum dolor sit amet, cu his aliquam honestatis, mel ut putant
            verear consectetuer. Eu sed diam ignota, dictas repudiare vix ne. Ei
            saepe delicata similique nam, tantas dignissim democritum vis an. Et
            dolor dicunt platonem eum, usu debet aeque an, quod nusquam ei pri.
            Pri malis summo at, laoreet ancillae an eam, id dicunt quaeque
            consequat duo. Et brute melius debitis ius, wisi eruditi ea pro, vix
            debet quodsi definiebas eu. Fugit eligendi cu est, erant legere
            principes an quo, vim porro perpetua voluptatum an. Esse tamquam
            conclusionemque cum cu, sea exerci ubique legimus in, ei augue
            nostrud rationibus sea. Dico vidit ancillae ut sea, ea vis duis
            inimicus philosophia. Id sit putant feugait qualisque. Ludus
            eloquentiam eu nec, id augue salutatus eos instructior ne.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="league">
  <div class="league_m clearfix">
    <div class="container">
      <div class="row">
        <div class="gallery_h text-center mgt1 clearfix">
          <div class="col-sm-12">
            <h2 class="mgt">Trophies We Won</h2>
            <hr />
          </div>
        </div>
        <div class="league_1 clearfix">
          <div class="col-sm-3">
            <div class="league_1i clearfix">
              <img src="assets/img/home4.jpg" alt="abc" class="iw" />
              <h4 class="bold">League Cup Of Country</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elitimus.
              </p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="league_1i clearfix">
              <img src="assets/img/cr.jpg" alt="abc" class="iw" />
              <h4 class="bold">Champion League</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elitimus.
              </p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="league_1i clearfix">
              <img src="assets/img/winn.jpg" alt="abc" class="iw" />
              <h4 class="bold">National League</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elitimus.
              </p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="league_1i clearfix">
              <img src="assets/img/win.jpg" alt="abc" class="iw" />
              <h4 class="bold">Premier League</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elitimus.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="story">
  <div class="container">
    <div class="row">
      <div class="story_1 clearfix">
        <div class="col-sm-12">
          <div class="gallery_h text-center mgt1 clearfix">
            <h2 class="mgt">This Is Our Story</h2>
            <hr />
          </div>
          <img src="assets/img/55.jpg" alt="abc" class="iw" />
          <p>
            Lorem ipsum dolor sit amet, errem facete ut has, vis mundi legere
            id. At eleifend principes definiebas nec suas debet cum aperi.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="league_o">
  <div class="league_m clearfix">
    <div class="container">
      <div class="row">
        <div class="league_1 mgt clearfix">
          <div class="col-sm-3">
            <div class="league_1i clearfix">
              <img src="assets/img/25.jpg" alt="abc" class="iw" />
              <h4 class="bold">Championship</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elitimus.
              </p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="league_1i clearfix">
              <img src="assets/img/26.jpg" alt="abc" class="iw" />
              <h4 class="bold">Stadium</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elitimus.
              </p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="league_1i clearfix">
              <img src="assets/img/27.jpg" alt="abc" class="iw" />
              <h4 class="bold">Training</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elitimus.
              </p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="league_1i clearfix">
              <img src="assets/img/28.jpg" alt="abc" class="iw" />
              <h4 class="bold">Audience</h4>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elitimus.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact_ab">
  <div class="container">
    <div class="row">
      <div class="contact_ab_1 clearfix">
        <div class="col-sm-6">
          <div class="contact_ab_1l clearfix">
            <h2 class="mgt">Contact Us</h2>
            <p>
              Lorem ipsum dolor sit amet, cu his aliquam honestatis, mel ut
              putant verear consec tetuer. Eu sed diam ignota, dictas repudi vix
              ne id augue salutatus eos.
            </p>
            <div class="contact_ab_1li clearfix">
              <div class="col-sm-4 space_left">
                <h5><i class="fa fa-headphones col_1"></i> 1-234-56xyz</h5>
              </div>
              <div class="col-sm-4 space_left">
                <h5><i class="fa fa-envelope col_1"></i> info@gmail.com</h5>
              </div>
              <div class="col-sm-4 space_left">
                <h5><i class="fa fa-map-marker col_1"></i> England</h5>
              </div>
            </div>
            <div class="contact_ab_1li clearfix">
              <div class="col-sm-4 space_left">
                <h5><i class="fa fa-headphones col_1"></i> 1-234-56xyz</h5>
              </div>
              <div class="col-sm-4 space_left">
                <h5><i class="fa fa-envelope col_1"></i> info@gmail.com</h5>
              </div>
              <div class="col-sm-4 space_left">
                <h5><i class="fa fa-map-marker col_1"></i> Australia</h5>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="contact_ab_1r clearfix">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114964.53925916665!2d-80.29949920266738!3d25.782390733064336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b0a20ec8c111%3A0xff96f271ddad4f65!2sMiami%2C+FL%2C+USA!5e0!3m2!1sen!2sin!4v1530774403788"
              width="100%"
              height="300px"
              frameborder="0"
              style="border: 0"
              allowfullscreen=""
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
