.center_about_m {
  background-image: url("./home2.jpg");
  background-size: cover; /* This ensures the image covers the entire container */
  background-position: center; /* This centers the image within the container */
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.article-list {
  width: 80%; /* Adjust the width as needed */
  /* Remaining CSS styles for .article-list */
}

ul {
  list-style-type: none;
  padding: 0;
}

.article-item {
  display: flex;
  margin-bottom: 20px;
}

.article-image {
  width: 150px;
  height: auto;
  margin-right: 20px;
}

.article-details {
  flex: 1;
}

.publication-date {
  font-size: 12px;
  color: #888;
}

.subline {
  font-weight: bold;
  margin-top: 5px;
}

.headline {
  font-size: 18px;
  margin: 10px 0;
}

.price-range {
  font-size: 14px;
  color: #666;
}

.read-more {
  display: inline-block;
  background-color: #098f5b;
  color: #fff;
  padding: 8px 15px;
  border-radius: 3px;
  text-decoration: none;
  font-size: small;
}

.read-more:hover {
  background-color: #0056b3;
}

.no-articles {
  width: 100%;
  text-align: center;
}
