<section id="center" class="clearfix center_contact">
  <div class="center_about_m clearfix">
    <div class="container">
      <div class="row">
        <div class="gallery_h text-center mgt1 clearfix">
          <div class="col-sm-12">
            <h1 class="mgt col">Contact Us</h1>
            <hr>
            <p class="col">Lorem ipsum dolor sit amet, cu his aliquam honestatis, mel ut putant verear consectetuer. Eu sed<br> diam ignota, dictas repudiare vix ne.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact_ab">
  <div class="container">
    <div class="row">
      <div class="contact_ab_1 clearfix">
        <div class="col-sm-6">
          <div class="contact_ab_1r clearfix">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d114964.53925916665!2d-80.29949920266738!3d25.782390733064336!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9b0a20ec8c111%3A0xff96f271ddad4f65!2sMiami%2C+FL%2C+USA!5e0!3m2!1sen!2sin!4v1530774403788" width="100%" height="300px" frameborder="0" style="border:0" allowfullscreen=""></iframe>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="contact_ab_1l clearfix">
            <h2 class="mgt">Contact Us</h2>
            <p>Lorem ipsum dolor sit amet, cu his aliquam honestatis, mel ut putant verear consec tetuer. Eu sed diam ignota, dictas repudi vix ne id augue salutatus eos.</p>
            <div class="contact_ab_1li clearfix">
              <div class="col-sm-4 space_left">
                <h5><i class="fa fa-headphones col_1"></i> 1-234-56xyz</h5>
              </div>
              <div class="col-sm-4 space_left">
                <h5><i class="fa fa-envelope col_1"></i> info@gmail.com</h5>
              </div>
              <div class="col-sm-4 space_left">
                <h5><i class="fa fa-map-marker col_1"></i> England</h5>
              </div>
            </div>
            <div class="contact_ab_1li clearfix">
              <div class="col-sm-4 space_left">
                <h5><i class="fa fa-headphones col_1"></i> 1-234-56xyz</h5>
              </div>
              <div class="col-sm-4 space_left">
                <h5><i class="fa fa-envelope col_1"></i> info@gmail.com</h5>
              </div>
              <div class="col-sm-4 space_left">
                <h5><i class="fa fa-map-marker col_1"></i> Australia</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contact_ab_2 clearfix">
        <div class="blod_d1l4 col-sm-12 clearfix">
          <div class="blod_d1l4i2 clearfix">
            <div class="col-sm-12 space_left">
              <h3>Leave a Comment</h3>
            </div>
          </div>
          <div class="blod_d1l4i clearfix">
            <div class="col-sm-12 space_left">
              <textarea class="form-control form_1" placeholder="Type here"></textarea>
            </div>
          </div>
          <div class="blod_d1l4i1 clearfix">
            <div class="col-sm-4 space_left">
              <input class="form-control" placeholder="Full name" type="text">
            </div>
            <div class="col-sm-4 space_left">
              <input class="form-control" placeholder="Email" type="text">
            </div>
            <div class="col-sm-4 space_left">
              <input class="form-control" placeholder="website" type="text">
            </div>
          </div>
          <div class="blod_d1l4i clearfix">
            <div class="col-sm-12 space_left">
              <p><input type="checkbox"> Save my name, email, and website in this browser for the next time I comment.</p>
              <h5><a class="button" href="#">SUBMIT <i class="fa fa-chevron-right"></i></a></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
