<section id="center" class="clearfix center_contact">
  <div class="center_about_m clearfix">
    <div class="container">
      <div class="row">
        <div class="gallery_h text-center mgt1 clearfix">
          <div class="col-sm-12">
            <h1 class="mgt col">Our Team</h1>
            <hr />
            <p class="col">
              Lorem ipsum dolor sit amet, cu his aliquam honestatis, mel ut
              putant verear consectetuer. Eu sed<br />
              diam ignota, dictas repudiare vix ne.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="team_ab">
  <div class="container">
    <div class="row">
      <div class="team_ab_1 clearfix">
        <div class="col-sm-6">
          <div class="team_ab_1_l clearfix">
            <h3 class="mgt bold">Semper porta</h3>
            <h4>Head Coach</h4>
            <p>
              Lorem ipsum dolor sit amet, eum cu harum aeterno patrioque, sea
              veniam minimum efficiantur ut. Vis eu nonumy deterruisset, sed
              legere maiestatis ea. Mollis lobortis vis id, inimicus elaboraret
              cu vim, pro elit dolor mandamus at. Sit salutatus argumentum id,
              mel at semper molestiae reformidans. Pri te atomorum elaboraret,
              mel no ubique percipitur omittantur. Tation malorum petentium cu
              vel, fabulas recusabo mel ad.
            </p>
            <h5>
              <a class="button" href="#"
                >KNOW MORE <i class="fa fa-chevron-right"></i
              ></a>
            </h5>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="team_ab_1_r clearfix">
            <img src="assets/img/58.jpg" class="iw" alt="abc" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="players">
  <div class="container">
    <div class="row">
      <div class="gallery_h text-center clearfix">
        <div class="col-sm-12">
          <h2 class="mgt">Our Key Players</h2>
          <hr />
        </div>
      </div>
      <div class="players_1 clearfix">
        <div class="col-sm-3">
          <div class="players_1i text-center clearfix">
            <img src="assets/img/20.jpg" class="iw" alt="abc" />
            <h3 class="bold">Praesent Libero</h3>
            <h5>GOALKEEPER</h5>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="players_1i text-center clearfix">
            <img src="assets/img/21.jpg" class="iw" alt="abc" />
            <h3 class="bold">Ante Dapibus</h3>
            <h5>ATTACKER</h5>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="players_1i text-center clearfix">
            <img src="assets/img/22.jpg" class="iw" alt="abc" />
            <h3 class="bold">Nulla Quis</h3>
            <h5>DEFENDER</h5>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="players_1i text-center clearfix">
            <img src="assets/img/23.jpg" class="iw" alt="abc" />
            <h3 class="bold">Sed Augue</h3>
            <h5>MIDFIELDER</h5>
          </div>
        </div>
      </div>
      <div class="players_1 clearfix">
        <div class="col-sm-3">
          <div class="players_1i text-center clearfix">
            <img src="assets/img/59.jpg" class="iw" alt="abc" />
            <h3 class="bold">Semper Porta</h3>
            <h5>GOALKEEPER</h5>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="players_1i text-center clearfix">
            <img src="assets/img/60.jpg" class="iw" alt="abc" />
            <h3 class="bold">Mauris Massa</h3>
            <h5>ATTACKER</h5>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="players_1i text-center clearfix">
            <img src="assets/img/61.jpg" class="iw" alt="abc" />
            <h3 class="bold">Lacinia Arcu</h3>
            <h5>DEFENDER</h5>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="players_1i text-center clearfix">
            <img src="assets/img/62.jpg" class="iw" alt="abc" />
            <h3 class="bold">Eget Nulla</h3>
            <h5>MIDFIELDER</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
