<section id="center" class="clearfix center_home">
  <div class="center_home_m clearfix">
    <div class="carousel slide article-slide" id="article-photo-carousel">
      <!-- Wrapper for slides -->
      <div class="carousel-inner cont-slider">
        <div class="item active">
          <img alt="abc" class="iw" src="assets/img/home.jpg" />
        </div>
        <div class="item">
          <img alt="abc" class="iw" src="assets/img/home2.jpg" />
        </div>
        <div class="item">
          <img alt="abc" class="iw" src="assets/img/home3.jpg" />
        </div>
        <div class="item">
          <img alt="abc" class="iw" src="assets/img/home4.jpg" />
        </div>
        <div class="item">
          <img alt="abc" class="iw" src="assets/img/home5.jpg" />
        </div>
        <div class="item">
          <img alt="abc" class="iw" src="assets/img/home6.jpg" />
        </div>
      </div>
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li
          class="active"
          data-slide-to="0"
          data-target="#article-photo-carousel"
        >
          <img alt="" src="assets/img/home.jpg" />
        </li>
        <li class="" data-slide-to="1" data-target="#article-photo-carousel">
          <img alt="" src="assets/img/home2.jpg" />
        </li>
        <li class="" data-slide-to="2" data-target="#article-photo-carousel">
          <img alt="" src="assets/img/home3.jpg" />
        </li>
        <li class="" data-slide-to="3" data-target="#article-photo-carousel">
          <img alt="" src="assets/img/home6.jpg" />
        </li>
        <li class="" data-slide-to="4" data-target="#article-photo-carousel">
          <img alt="" src="assets/img/home5.jpg" />
        </li>
        <li class="" data-slide-to="5" data-target="#article-photo-carousel">
          <img alt="" src="assets/img/home6.jpg" />
        </li>
      </ol>
    </div>
    <div class="center_home_mi clearfix">
      <h1>
        TEAMWORK IS AT THE CORE<br />
        OF OUR SUCCESS
      </h1>
      <p>
        Together, we thrive on the field and beyond - join us in shaping the
        future of football.
      </p>
      <h5>
        <a class="button" href="#"
          >READ MORE <i class="fa fa-chevron-right"></i
        ></a>
      </h5>
      <h5>
        <a class="button_1" href="#"
          >SEE MORE <i class="fa fa-chevron-right"></i
        ></a>
      </h5>
    </div>
  </div>
</section>
<!-- 
<section id="review_home">
  <div class="container">
    <div class="row">
      <div class="review_home_1 clearfix">
        <div class="col-sm-6">
          <div class="review_home_1r clearfix">
            <img src="assets/img/trophy.jpg" class="iw" alt="abc" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="review_home_1l clearfix">
            <h2 class="mgt">LIGUE 1 STANDINGS</h2>
            <p>
              Stay updated with the latest rankings, scores, and statistics from
              one of Europe's premier football leagues.
            </p>
            <div class="review_home_1li clearfix">
              <h5>Espérence S.T <span class="pull-right">6 pts</span></h5>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-success"
                  role="progressbar"
                  aria-valuenow="40"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 60%"
                ></div>
              </div>
            </div>
            <div class="review_home_1li clearfix">
              <h5>E.S Sahel <span class="pull-right">3 pts</span></h5>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-success"
                  role="progressbar"
                  aria-valuenow="40"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 30%"
                ></div>
              </div>
            </div>
            <div class="review_home_1li clearfix">
              <h5>U.S. Monastir <span class="pull-right">2 pts</span></h5>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-success"
                  role="progressbar"
                  aria-valuenow="40"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 20%"
                ></div>
              </div>
            </div>
            <div class="review_home_1li clearfix">
              <h5>S. Tunisien <span class="pull-right">2 pts</span></h5>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-success"
                  role="progressbar"
                  aria-valuenow="40"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  style="width: 20%"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- 
<section id="achieve">
  <div class="container">
    <div class="row">
      <div class="achieve_1 clearfix">
        <div class="col-sm-4">
          <div class="achieve_1m clearfix">
            <div class="achieve_1mi clearfix">
              <img src="assets/img/spain3.jpg" class="iw" alt="abc" />
            </div>
            <div class="achieve_1mi1 text-center clearfix">
              <span class="col"><i class="fa fa-star-o"></i></span>
              <h3 class="bold col">League Cup</h3>
              <p class="col">
                Witness the passion, determination, and jubilation of champions
                as they rise to claim their place in football history.
              </p>
              <h5>
                <a class="button" href="#"
                  >SEE MORE <i class="fa fa-chevron-right"></i
                ></a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="achieve_1m clearfix">
            <div class="achieve_1mi clearfix">
              <img src="assets/img/spain2.jpg" class="iw" alt="abc" />
            </div>
            <div class="achieve_1mi1 text-center clearfix">
              <span class="col"><i class="fa fa-trophy"></i></span>
              <h3 class="bold col">Championship</h3>
              <p class="col">
                Duis ac feugiat purus. Sed placerat commodo rhoncus. Curabitur
                sed pharetra turpis.
              </p>
              <h5>
                <a class="button" href="#"
                  >SEE MORE <i class="fa fa-chevron-right"></i
                ></a>
              </h5>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="achieve_1m clearfix">
            <div class="achieve_1mi clearfix">
              <img src="assets/img/spain.jpg" class="iw" alt="abc" />
            </div>
            <div class="achieve_1mi1 text-center clearfix">
              <span class="col"><i class="fa fa-clock-o"></i></span>
              <h3 class="bold col">Associations</h3>
              <p class="col">
                Duis ac feugiat purus. Sed placerat commodo rhoncus. Curabitur
                sed pharetra turpis.
              </p>
              <h5>
                <a class="button" href="#"
                  >SEE MORE <i class="fa fa-chevron-right"></i
                ></a>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section id="gallery_home">
  <div class="container">
    <div class="row">
      <div class="gallery_h text-center clearfix">
        <div class="col-sm-12">
          <h2 class="mgt">Fresh Sport Gallery</h2>
          <hr />
          <p>
            Immerse yourself in our vibrant Sport Gallery, where dynamic images
            capture the essence of athleticism, teamwork, and triumph.
          </p>
        </div>
      </div>

      <div class="achieve_1 clearfix">
        <div class="col-sm-3 space_all">
          <a href="#"
          ><div class="achieve_1m clearfix">
            <div class="achieve_1mi clearfix">
              <img src="assets/img/home2.jpg" class="iw" alt="abc" />
            </div>
            <div class="achieve_1mi1 text-center clearfix">
              <h3 class="bold col">Being Free</h3>
              <h4 class="col_1">PREPARATION</h4>
            </div>
          </div></a
          >
        </div>
        <div class="col-sm-3 space_all">
          <a href="#"
          ><div class="achieve_1m clearfix">
            <div class="achieve_1mi clearfix">
              <img src="assets/img/home3.jpg" class="iw" alt="abc" />
            </div>
            <div class="achieve_1mi1 text-center clearfix">
              <h3 class="bold col">Setting Tracks</h3>
              <h4 class="col_1">TEAM WORK</h4>
            </div>
          </div></a
          >
        </div>
        <div class="col-sm-3 space_all">
          <a href="#"
          ><div class="achieve_1m clearfix">
            <div class="achieve_1mi clearfix">
              <img src="assets/img/home4.jpg" class="iw" alt="abc" />
            </div>
            <div class="achieve_1mi1 text-center clearfix">
              <h3 class="bold col">Ideal Transfers</h3>
              <h4 class="col_1">TEAM WORK</h4>
            </div>
          </div></a
          >
        </div>
        <div class="col-sm-3 space_all">
          <a href="#"
          ><div class="achieve_1m clearfix">
            <div class="achieve_1mi clearfix">
              <img src="assets/img/home5.jpg" class="iw" alt="abc" />
            </div>
            <div class="achieve_1mi1 text-center clearfix">
              <h3 class="bold col">Role Model</h3>
              <h4 class="col_1">SUCCESS</h4>
            </div>
          </div></a
          >
        </div>
      </div>
      <div class="achieve_1 clearfix">
        <div class="col-sm-3 space_all">
          <a href="#"
          ><div class="achieve_1m clearfix">
            <div class="achieve_1mi clearfix">
              <img src="assets/img/home6.jpg" class="iw" alt="abc" />
            </div>
            <div class="achieve_1mi1 text-center clearfix">
              <h3 class="bold col">Being Free</h3>
              <h4 class="col_1">PREPARATION</h4>
            </div>
          </div></a
          >
        </div>
        <div class="col-sm-3 space_all">
          <a href="#"
          ><div class="achieve_1m clearfix">
            <div class="achieve_1mi clearfix">
              <img src="assets/img/home.jpg" class="iw" alt="abc" />
            </div>
            <div class="achieve_1mi1 text-center clearfix">
              <h3 class="bold col">Setting Tracks</h3>
              <h4 class="col_1">TEAM WORK</h4>
            </div>
          </div></a
          >
        </div>
        <div class="col-sm-3 space_all">
          <a href="#"
          ><div class="achieve_1m clearfix">
            <div class="achieve_1mi clearfix">
              <img src="assets/img/home2.jpg" class="iw" alt="abc" />
            </div>
            <div class="achieve_1mi1 text-center clearfix">
              <h3 class="bold col">Ideal Transfers</h3>
              <h4 class="col_1">TEAM WORK</h4>
            </div>
          </div></a
          >
        </div>
        <div class="col-sm-3 space_all">
          <a href="#"
          ><div class="achieve_1m clearfix">
            <div class="achieve_1mi clearfix">
              <img src="assets/img/home5.jpg" class="iw" alt="abc" />
            </div>
            <div class="achieve_1mi1 text-center clearfix">
              <h3 class="bold col">Role Model</h3>
              <h4 class="col_1">SUCCESS</h4>
            </div>
          </div></a
          >
        </div>
      </div>
    </div>
  </div>
</section> -->

<section id="players">
  <div class="container">
    <div class="row">
      <div class="gallery_h text-center clearfix">
        <div class="col-sm-12">
          <h2 class="mgt">Our Key Players</h2>
          <hr />
        </div>
      </div>
      <div class="players_1 clearfix">
        <div class="col-sm-3">
          <div class="players_1i text-center clearfix">
            <img src="assets/img/cr.jpg" class="iw" alt="abc" />
            <h3 class="bold">Praesent Libero</h3>
            <h5>GOALKEEPER</h5>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="players_1i text-center clearfix">
            <img src="assets/img/cr.jpg" class="iw" alt="abc" />
            <h3 class="bold">Ante Dapibus</h3>
            <h5>ATTACKER</h5>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="players_1i text-center clearfix">
            <img src="assets/img/mes.jpg" class="iw" alt="abc" />
            <h3 class="bold">Nulla Quis</h3>
            <h5>DEFENDER</h5>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="players_1i text-center clearfix">
            <img src="assets/img/cr.jpg" class="iw" alt="abc" />
            <h3 class="bold">Sed Augue</h3>
            <h5>MIDFIELDER</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section id="review_home_l">
  <div class="container">
    <div class="row">
      <div class="review_home_1 clearfix">
        <div class="col-sm-6">
          <div class="review_home_1l clearfix">
            <h2 class="mgt">Review Of The Season</h2>
            <p>
              Dive into our comprehensive review of the season, highlighting
              standout performances, memorable moments, and key insights that
              defined the journey of Ligue 1. From thrilling matches to
              unexpected twists, discover the season's highs and lows as we
              relive the excitement of French football at its finest.
            </p>
            <h5>
              <a class="button" href="#"
                >READ MORE <i class="fa fa-chevron-right"></i
              ></a>
            </h5>
            <h5>
              <a class="button_1" href="#"
                >TAKE A TOUR <i class="fa fa-chevron-right"></i
              ></a>
            </h5>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="review_home_1r clearfix">
            <img src="assets/img/24.jpg" class="iw" alt="abc" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- <section id="strategy">
  <div class="container">
    <div class="row">
      <div class="strategy_1 clearfix">
        <div class="col-sm-12">
          <div class="panel panel-success">
            <div class="panel-heading clickable panel-collapsed">
              <h3 class="panel-title">
                <i class="fa fa-gamepad"></i> STRATEGY
              </h3>
              <span class="pull-right"
                ><i class="glyphicon glyphicon-minus"></i
              ></span>
            </div>
            <div class="panel-body clearfix">
              <p>
                Our 'Strategy' section is where our team's intellectual prowess
                shines brightest. Here, innovative minds converge to architect
                blueprints for success, whether it's for managing a project or
                setting the course for financial growth. It's a showcase of
                forward-thinking and planning, where every step is calculated
                and every tactic is backed by thorough research and deep
                industry knowledge. Our strategic expertise is not just our
                pride; it's our clients' greatest advantage. arcu eget nulla.
                Class aptent taciti sociosqu ad litora torquent per conubia
                nostra, per inceptos himenaeos. Curabitursodales ligula in
                libero.Sed dignissim lacinia nunc.
              </p>
            </div>
          </div>
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title"><i class="fa fa-fire"></i> PRODUCTION</h3>
              <span class="pull-right"
                ><i class="glyphicon glyphicon-minus"></i
              ></span>
            </div>
            <div class="panel-body clearfix">
              <p>
                In 'Production', the practical magic happens. It's where
                concepts become reality through the diligent work of our skilled
                professionals. Our team takes immense pride in this space,
                demonstrating a blend of precision, efficiency, and quality
                craftsmanship. Every product reflects our unwavering commitment
                to excellence and attention to detail, ensuring that what we
                create isn't just functional, but also a masterpiece in its own
                right.
              </p>
            </div>
          </div>
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title"><i class="fa fa-shield"></i> WEALTH</h3>
              <span class="pull-right"
                ><i class="glyphicon glyphicon-minus"></i
              ></span>
            </div>
            <div class="panel-body clearfix">
              <p>
                The 'Wealth' section is a testament to the effectiveness of our
                strategies and the success of our production. It represents the
                value we generate for our clients and ourselves. Our approach
                here is holistic, considering not only financial gains but also
                the richness of experience and knowledge we accrue. It's a clear
                indicator of our capability to turn prospects into profits and
                visions into value.
              </p>
            </div>
          </div>
          <div class="panel panel-success">
            <div class="panel-heading clickable">
              <h3 class="panel-title">
                <i class="fa fa-graduation-cap"></i> HARD WORK
              </h3>
              <span class="pull-right"
                ><i class="glyphicon glyphicon-minus"></i
              ></span>
            </div>
            <div class="panel-body clearfix">
              <p>
                At the heart of our ethos lies 'Hard Work', a section dedicated
                to the hustle and dedication that our team embodies. This is
                where our tireless efforts, late-night brainstorming sessions,
                and relentless pursuit of goals are chronicled. It's a salute to
                the grind, the unwavering spirit, and the collective sweat
                equity that powers our engine of success. Our hard work
                translates into exceptional outcomes for every project we
                undertake, reflecting our commitment to surpassing
                expectations."
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section id="league">
  <div class="league_m clearfix">
    <div class="container">
      <div class="row">
        <div class="league_1 clearfix">
          <div class="col-sm-3">
            <div class="league_1i clearfix">
              <img
                src="assets/img/1995.jpg"
                alt="League Cup of Country 1995"
                class="iw"
              />
              <h4 class="bold">League Cup of Country <span>1995</span></h4>
              <p>
                A memorable season, capturing the intense competition among the
                country's top clubs, culminating in a spectacular final
                showdown.
              </p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="league_1i clearfix">
              <img
                src="assets/img/2002.jpg"
                alt="Champions League 2002"
                class="iw"
              />
              <h4 class="bold">Champions League <span>2002</span></h4>
              <p>
                The 2002 tournament featured unforgettable matches that
                showcased emerging talents and established stars in European
                football.
              </p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="league_1i clearfix">
              <img
                src="assets/img/2008.jpg"
                alt="National League 2008"
                class="iw"
              />
              <h4 class="bold">National League <span>2008</span></h4>
              <p>
                Reflecting on a pivotal year in domestic football, the 2008
                season was marked by fierce rivalries and record-breaking
                performances.
              </p>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="league_1i clearfix">
              <img
                src="assets/img/2016.jpg"
                alt="Premier League 2016"
                class="iw"
              />
              <h4 class="bold">Premier League <span>2016</span></h4>
              <p>
                The 2016 Premier League was a landmark season, filled with
                dramatic twists and turns, leading to one of the most unexpected
                champions in history.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section id="counting">
  <div class="container">
    <div class="row">
      <div class="counting_1 clearfix">
        <div class="col-sm-3">
          <div class="counting_1 text-center clearfix">
            <span><i class="fa fa-gamepad"></i></span>
            <h1>244</h1>
            <h4>League Cup Games</h4>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="counting_1 text-center clearfix">
            <span><i class="fa fa-fire"></i></span>
            <h1>116</h1>
            <h4>League Cup Games</h4>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="counting_1 text-center clearfix">
            <span><i class="fa fa-shield"></i></span>
            <h1>24</h1>
            <h4>League Cup Games</h4>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="counting_1 text-center clearfix">
            <span><i class="fa fa-globe"></i></span>
            <h1>2001</h1>
            <h4>League Cup Games</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
<!-- 
<section id="club">
  <div class="container">
    <div class="row">
      <div class="gallery_h text-center clearfix">
        <div class="col-sm-12">
          <h2 class="mgt">Club Souvenirs</h2>
          <hr />
        </div>
      </div>
      <div class="achieve_1 clearfix">
        <div class="col-sm-3">
          <div class="achieve_1m clearfix">
            <div class="achieve_1mi clearfix">
              <img src="assets/img/30.jpg" class="iw" alt="abc" />
            </div>
            <div class="achieve_1mi1 text-center clearfix">
              <h5>
                <a class="button_1" href="#"
                  >ADD TO CART <i class="fa fa-chevron-right"></i
                ></a>
              </h5>
            </div>
          </div>
          <div class="club_i text-center clearfix">
            <span class="col_1">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </span>
            <h4>Green Jersey</h4>
            <h1>$75.00</h1>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="achieve_1m clearfix">
            <div class="achieve_1mi clearfix">
              <img src="assets/img/31.jpg" class="iw" alt="abc" />
            </div>
            <div class="achieve_1mi1 text-center clearfix">
              <h5>
                <a class="button_1" href="#"
                  >ADD TO CART <i class="fa fa-chevron-right"></i
                ></a>
              </h5>
            </div>
          </div>
          <div class="club_i text-center clearfix">
            <span class="col_1">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </span>
            <h4>Soccer Ball</h4>
            <h1>$65.00</h1>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="achieve_1m clearfix">
            <div class="achieve_1mi clearfix">
              <img src="assets/img/32.jpg" class="iw" alt="abc" />
            </div>
            <div class="achieve_1mi1 text-center clearfix">
              <h5>
                <a class="button_1" href="#"
                  >ADD TO CART <i class="fa fa-chevron-right"></i
                ></a>
              </h5>
            </div>
          </div>
          <div class="club_i text-center clearfix">
            <span class="col_1">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </span>
            <h4>Pro Cleats</h4>
            <h1>$45.00</h1>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="achieve_1m clearfix">
            <div class="achieve_1mi clearfix">
              <img src="assets/img/33.jpg" class="iw" alt="abc" />
            </div>
            <div class="achieve_1mi1 text-center clearfix">
              <h5>
                <a class="button_1" href="#"
                  >ADD TO CART <i class="fa fa-chevron-right"></i
                ></a>
              </h5>
            </div>
          </div>
          <div class="club_i text-center clearfix">
            <span class="col_1">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </span>
            <h4>Fan Beanie</h4>
            <h1>$35.00</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="signup">
  <div class="container">
    <div class="row">
      <div class="signup_1 text-center clearfix">
        <div class="col-sm-12">
          <h1 class="mgt">Join The Club</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce
            blandit nisi
          </p>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Email" />
            <span class="input-group-btn">
              <button class="btn btn-primary" type="button">SIGN UP</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
