.sidebar {
  background-color: #f8f9fa;
  padding: 20px;
  border-right: 1px solid #dee2e6;
}

.sidebar-header h3 {
  color: #343a40;
}
h2 {
  font-size: 30px;
  color: #27502d;
  text-align: center;
}

.sidebar .list-group-item {
  border: none;
}

.sidebar-footer {
  margin-top: 20px;
}
.inputfield {
  margin-top: 20px;
}
.add-task-button {
  position: fixed;
  top: 50%;

  transform: translateY(-50%);
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.add-task-button:hover {
  background-color: #0056b3;
}

.plan-meeting-form {
  display: none;
}

.show-form {
  display: block;
}
.confirmed .fa-check-circle {
  color: green;
}

.pending .fa-clock {
  color: orange;
}

#calendar-container {
  text-align: center;
  margin-top: 30px;
  border: 2px solid #27502d;
  border-radius: 10px;
  padding: 20px;
  color: #27502d;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #f0f8ff;
  margin-bottom: 30px;
}

/* #calendar-container {
  background-color: #C4A484;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: navy;
  font-size: 16px; 

} */
.meeting-success {
  background-color: #5cb85c !important;
}
.custom-blue {
  color: #000080;
}
.form-label {
  margin-top: 8px;
}
